@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #242424;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(220 38 38);;
  }
