.homeWrapper {
  padding: 2rem;

  .searchFilter {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    input {
      height: 2.4rem;
      width: 15rem;
      padding: 0 0.5rem;
      outline: 0;
    }
  }

  a {
    color: inherit;

    .characterCardsWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 600px) {
  .homeWrapper {
    padding: 2rem;

    .characterCardsWrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, 350px);
      gap: 0 2rem;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}