@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1e1e1e] text-white;
}

@layer {
  .layoutDefault {
    @apply flex items-center justify-center;
  }
  .header {
    @apply flex items-center justify-center min-w-full;
    @apply p-4 mb-10 w-full h-32;
    @apply sm:h-48 xl:h-96;

    background-image: url('/assets/background/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header form {
    @apply w-full;
    @apply lg:w-[50%];
  }
  .header .search {
    @apply text-lg rounded-md w-full p-2 !important;
    @apply shadow-inner shadow-gray-500 text-black !important;
  }

  .header .error {
    @apply text-lg text-center font-bold uppercase;
    @apply p-2 rounded-md;
    @apply mt-2 !important;
    @apply bg-red-400 text-white;
  }

  main {
    @apply flex flex-col;
  }

  .container {
    @apply flex flex-wrap items-start justify-center gap-5;
    @apply mb-8;
    @apply min-h-screen w-full mx-auto;
    @apply sm:items-center;
    @apply lg:gap-x-4 lg:gap-y-4  lg:min-h-full;
  }
  .container.showLoader {
    @apply items-start pt-32;
  }

  .pagination-container {
    @apply mb-4;
  }
  .pagination-container,
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pagination .pagination-item:not(.nav-item) {
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 0.1rem;

    @apply p-3;
    @apply mx-1;

    @apply bg-white;
    @apply text-black;
  }
  .pagination .pagination-item {
    @apply cursor-pointer;
    @apply select-none;
  }
  .pagination .pagination-item-active {
    @apply bg-sky-700 !important;
    @apply text-white !important;
  }
  .pagination .pagination-item.nav-item {
    @apply p-3;

    @apply rounded-md;

    @apply bg-white;
    @apply text-black;
  }
  .pagination .pagination-item.nav-prev {
    @apply ml-4 mr-2;
  }
  .pagination .pagination-item.nav-next {
    @apply ml-2 mr-4;
  }
}

@layer {
  .character {
    @apply rounded-lg w-80 h-80 p-4 relative overflow-hidden;
    @apply cursor-pointer;
    @apply sm:w-72 sm:h-72;
    @apply md:w-60 md:h-60;
    @apply lg:w-80 lg:h-80;
    @apply xl:w-72 xl:h-72;
  }

  .character-name {
    @apply text-base font-bold;
    @apply p-3 absolute bottom-0 left-0 w-full;
    @apply bg-sky-700/70;
  }
}

/* Page Detail */
@layer {
  .back {
    @apply ml-20;
  }
  .back button {
    @apply flex items-center justify-center;
    @apply w-16 h-16;
  }
  .detail-container {
    @apply flex items-center justify-center;
    @apply w-full my-10;
  }
  .detail {
    @apply container;
    @apply flex flex-wrap flex-col items-start justify-start;
    @apply m-0;

    @apply sm:flex-row;
  }

  .detail .image,
  .detail .description {
    @apply sm:w-1/2 !important;
  }
  .detail .image {
    @apply sm:w-[75%] rounded-lg overflow-hidden;
  }
  .detail .description {
    @apply xl:w-1/4 !important;
    @apply ml-20;
  }

  .detail .description h1 {
    @apply font-bold text-2xl text-center !important;
    @apply w-full;
    @apply text-white;
  }
  .detail .description .text {
    @apply text-base lg:text-xl;
    @apply block w-full mt-8 !important;
    @apply text-white;
  }

  .detail .comics,
  .detail .events,
  .detail .series,
  .detail .urls {
    @apply lg:text-lg;
    @apply flex flex-col mt-6;
    @apply text-white;
  }
  .detail .comics h2,
  .detail .events h2,
  .detail .series h2,
  .detail .urls h2 {
    @apply text-3xl font-bold !important;
  }

  .detail .series {
    @apply flex;
  }
  .detail .series h2 {
    @apply flex-1;
  }

  .detail .urls h2 {
    @apply w-full block;
  }
  .detail .urls ul {
    @apply underline;
    @apply flex flex-row w-full gap-4;
    @apply mt-4 !important;
    @apply text-blue-500;
  }

  .detail .urls .link {
    @apply text-base uppercase font-bold;
    @apply block w-full;
  }

  .detail .comics {
    @apply px-4;
  }

  .detail .comics .comics-container {
    @apply flex flex-wrap items-start justify-start gap-2;
  }

  .detail .comic {
    @apply flex flex-col items-start justify-end;
    @apply w-80 h-96 rounded-lg relative overflow-hidden;
  }

  .detail .comic h2,
  .detail .comic p {
    @apply font-bold;
    @apply z-10 relative;
  }
  .detail .comic-info {
    @apply p-2 w-full z-10;
    @apply bg-white/90 text-black;
  }
  .detail .comic h2 {
    @apply text-xl drop-shadow-md !important;
  }
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
